<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.componentb">

    <application android:name=".BApplication">
        <meta-data
            android:name="com.example.componentb.BApplication"
            android:value="com.example.componentb.BApplication" />

        <activity
            android:name=".BMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.componentb.ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>